* {
  font-family: Montserrat, serif;
  box-sizing: border-box;
}

body {
  background: #121212; /* Backup color */
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*Header (START)*/
.div-header {
  position: relative;
  width: 100%;
  height: 6em;
  background: #121212;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 0 7%;
  display: grid;
}

.sticky + .content {
  padding-top: 100px;
}

nav {
  display: grid;
  align-items: center;
  height: 65px;
  width: 100%;
  grid-template-columns: 10em 10em 10em 10em 14em 40em;
}

.nav-links {
  width: 400px;
  display: contents;
}

.nav-links li {
  display: inline-block;
  margin: 0.5% 3%;
}

.nav-links li a {
  text-decoration: none;
  display: grid;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  align-items: center;
}

.logo {
  height: 30px;
  margin-left: 14%;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2F3d35d0ba2f455e2a5b551e34d7039453?alt=media&amp;token=bbd82a33-b466-44bb-a101-fb20eed7b15b);
}

.nav-bar {
  height: 1px;
  white: 100%;
  background: #2f2f2f;
}

.nav-link {
  margin-left: auto;
  margin-right: 3%;
  text-decoration: none;
  display: grid;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  align-items: center;
}

/*Header (END)*/

/*Footer start*/
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15em;
  background: #121212;
  padding: 1em;
  display: grid;
  grid-template-columns: 35em 28em 50em 1em;
  align-items: center;
  justify-content: center;
}

.footer-element-logo {
  text-align: center;
}

#footer-logo {
  height: 4em;
  width: 20em;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2Fc4c08b1e5bcea3b95b484b7ba76316c3?alt=media&amp;token=4c86c31c-6161-46a7-a94a-b801a78314a4);
}

.footer-element-data {
  text-align: center;
}

#f-el-d-1 {
  color: #8C8C8C;
  font-size: 0.8em;
  text-align: left;
}

#f-el-d-2 {
  color: #F1F1F1;
  font-size: 0.9em;
  text-align: left;
}

.footer-element-onTop {
  color: #F1F1F1;
  font-size: 0.9em;
  font-weight: 1000;
  letter-spacing: -1px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

/*Footer (END)*/

#group-1 {
  min-height: 38.4375em;
  display: grid;
  justify-content: center;
  flex-wrap: nowrap;
  grid-template-columns: 20em 20em 30em;
  padding: 2em;
}

#group-1-0 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

#group-1-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

#group-1-2 {
  display: flex;
  /* padding-top: 2em; */
  /* padding-left: 6em; */
  width: 30em;
  height: 35em;
  box-shadow: 0em 0em 1em 0.1em #7f4efe;
  border-radius: 6.25em;
  flex-direction: column;
  transition: all .2s;
  align-content: center;
  align-items: center;
  color: #F1F1F1;
}

#group-1-2 h1 {
  box-sizing: border-box;
  color: #F1F1F1;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

#group-1-2 p {
  box-sizing: border-box;
  color: #F1F1F1;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.button {
  width: 10em;
  height: 3em;
  box-shadow: 0em 0em 0em 0.1em #7f4efe;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1.8em;
  border-radius: 5em;
}

.button a {
  box-sizing: border-box;
  color: #F1F1F1;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

#logo0 {
  height: 8.375em;
  width: 8.375em;
  border-radius: 15em;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2Fb28fef2154e4a0245c9cbd7e6d3d905c?alt=media&amp;token=08b29f55-aad9-49bd-bb7a-bce486fda854);
}

#logo1 {
  height: 8.375em;
  width: 8.375em;
  border-radius: 15em;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2Fcfea99b07584e1f9546d35769ba61f98?alt=media&amp;token=8110be0f-64b9-4c2c-901c-0611c35e07a7);
}

#Name {
  width: 20em;
  height: 3em;
  padding: 1em;
  box-shadow: 0em 0em 0em 0.1em #7f4efe;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1.8em;
  border-radius: 2em;
  color: #ffffff;
  letter-spacing: 0;
  background: #121212;

}

#Email {
  width: 20em;
  height: 3em;
  padding: 1em;
  box-shadow: 0em 0em 0em 0.1em #7f4efe;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1.8em;
  border-radius: 2em;
  color: #ffffff;
  letter-spacing: 0;
  background: #121212;
}

#Message {
  width: 25em;
  height: 10em;
  padding: 1em;
  box-shadow: 0em 0em 0em 0.1em #7f4efe;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1.8em;
  border-radius: 2em;
  color: #ffffff;
  letter-spacing: 0;
  background: #121212;
}

#fcf-form-id {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fcf-button {
  margin: 1em;
  background: #7F4EFE;
  border-color: #7F4EFE;
  box-shadow: 0px 0px 29px -2px #7f4efe;
  border-radius: 83px;
  box-sizing: border-box;
  color: #F1F1F1;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
