* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0px; /* Remove browser default margins */
  padding: 0px; /* Remove browser default padding */
}

html {
  height: 100%; /* Helps min-height work properly on body */
}

body {
  position: relative; /* Assist "position: absolute" below */
  /*padding-bottom: 60px;  Must match footer height; make up for footer being removed from the document flow */
  /*min-height: 100%; !* Force body to be at least the size of the screen *!*/
  background: grey; /* Backup color */
  background: url('../img/Background.png');
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: cover;
  font-family: sans-serif;
  color: white;
}

.div-header {
  height: 75px;
  width: 100%;
  padding: 0 7%;
  background: #1A1A23;
  position: relative;
  /*backdrop-filter: blur(10px);*/
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 0 7%;
  display: grid;
}

.sticky + .content {
  padding-top: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-links {
  padding: 28px 0;
  margin-left: 16%;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: Libre Franklin;
  font-weight: 700;
  color: white;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.logo {
  margin-left: 10%;
  width: 200px;
}

.motto {
  display: grid;
  position: absolute;
  left: 38%;
  top: 200px;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 50px;
  font-family: Libre Franklin;
  font-weight: 700;
  color: white;
  margin-left: 2%;
  letter-spacing: 0;
  line-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.motto .logo{
  margin-top: 2%;
  margin-left: 0;
  width: 400px;
  height: 77px;
}

/* Footer */
.site-footer {
  position: absolute; /* Helps us position at the bottom; footer no longer takes up space in the flow of the document */
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding: 15px;
  background: rgb(44, 44, 44); /* Backup color */
  background: rgba(44, 44, 44, 0.5);
}
