* {
  font-family: Montserrat, serif;
  box-sizing: border-box;
}

body {
  background: #121212; /* Backup color */
  height: auto;
  display: flex;
  flex-direction: column;
}

/*Header (START)*/
.div-header {
  position: relative;
  width: 100%;
  height: 6em;
  background: #121212;
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 0 7%;
  display: grid;
}

.sticky + .content {
  padding-top: 100px;
}

nav {
  display: grid;
  align-items: center;
  height: 65px;
  width: 100%;
  grid-template-columns: 10em 10em 10em 10em 14em 40em;
}

.nav-links {
  width: 400px;
  display: contents;
}

.nav-links li {
  display: inline-block;
  margin: 0.5% 3%;
}

.nav-links li a {
  text-decoration: none;
  display: grid;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  align-items: center;
}

.logo {
  height: 30px;
  margin-left: 14%;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2F6f30d5a8038da7397eb20524bc2de319?alt=media&amp;token=7510c47c-e278-44a2-93e3-894f69dcbf91);
}

.nav-bar {
  height: 1px;
  white: 100%;
  background: #2f2f2f;
}

.nav-link {
  margin-left: auto;
  margin-right: 3%;
  text-decoration: none;
  margin-left: auto;
  text-decoration: none;
  display: grid;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  align-items: center;
}

/*Header (END)*/

/*Footer start*/
.footer {
  width: 100%;
  height: 15em;
  background: #121212;
  padding: 1em;
  display: grid;
  grid-template-columns: 35em 28em 50em 1em;
  align-items: center;
  justify-content: center;
}

.footer-element-logo {
  text-align: center;
}

#footer-logo {
  height: 4em;
  width: 20em;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2F960b80db32cd2e5acdd029437a8c7559?alt=media&amp;token=d9b2b22f-6eea-4783-9fe2-4f307ddee294);
}

.footer-element-data {
  text-align: center;
}

#f-el-d-1 {
  color: #8C8C8C;
  font-size: 0.8em;
  text-align: left;
}

#f-el-d-2 {
  color: #F1F1F1;
  font-size: 0.9em;
  text-align: left;
}

.footer-element-onTop {
  color: #F1F1F1;
  font-size: 0.9em;
  font-weight: 1000;
  letter-spacing: -1px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

/*Footer (END)*/

/*body elements (START)*/

#group-1 {
  display: grid;
  height: auto;
  width: 100%;
}

.card-logo {
  height: 12em;
  width: 7.6em;
  content: url(https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2Fujer6fRShphjMpI4qYVg%2F10d316d51c364d501f23cac1d1755ae3?alt=media&amp;token=ed60844a-0240-4369-9b27-3999cef3d43f);
}

.card {
  display: grid;
  grid-template-columns: 10em 10em 10em;
}

.card-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card-text p {
  box-sizing: border-box;
  font-size: 0.5em;
  color: #F1F1F1;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.card-text-name p {
  font-size: 1.5625em;
  font-weight: bold;
}

.card-author p {
  font-size: 0.9375em;
}

.card-combination {
  display: grid;
  grid-template-columns: 5em 5em;
}

.card-combination p {
  font-size: 0.9375em;
  text-align: center;
}

.card-combination-bold {
  font-weight: bold;
}

.card-button {
  height: 2.8125em;
  width: 2.8125em;
  background-color: #D9FF40;
  border-radius: 0.9375em;
}

.card-button-text {
  height: 0.6875em;
  width: 1.125em;
  color: #121212;
}

/*body elements (END)*/
